.container{
    display:flex;
}

.Homepage{
  background-image: url('Images/Japan_photo1.png'); /* Path to your image */
  background-repeat: no-repeat;        /* Prevents tiling */
  background-size: cover;              /* Covers the entire area */
  background-position: center;         /* Centers the image */
}

.History{
  background-image: url('Images/Japan_history3.jpg'); /* Path to your image */
  background-repeat: no-repeat;        /* Prevents tiling */
  background-size: cover;              /* Covers the entire area */
  background-position: center;         /* Centers the image */
  background-attachment: fixed;
}

#title, .p1{
    font-size: 100px;
    text-align: center;
    justify-content: middle;
    font-family:"Times New Roman";
    color:pink;
}

.p1_history{
    font-size: 100px;
    text-align: center;
    justify-content: middle;
    font-family:"Times New Roman";
    color:Black;
    border: 2px solid red;
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 10%;
}


.p2{
    font-size: 35px;
}

nav a{
    flex:1;
    background-color:red;
    color: white;
    font-size: 20pt;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    
}

#navi a:hover{
    color:pink;
    background-color: rgb(200, 0, 0)
}

#images img{
    text-align: center;
}

#images p{
    border: 2px solid red;
    background-color: rgba(255, 255, 255,0.5);
    padding: 100px;
    border-radius: 10%;
    font-size: 50px;
}



